body {
    background-color: #fcf3e8;
}

/*Caja con logo + barra de navegacion*/
.encabezado {
    display: flex;
    background-color: #EDDDC3;
    height: 124px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center;
}

/*Barra de navegacion*/
.item {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase; 
    color: #645d52;
    padding: 10px;
}

.item:hover {
    background: #C3BAA9;
}

.navegacion {
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
}
 /*Contenido: Presentacion + tips mates*/
.contenedor {
    display: flex;
    justify-content: space-between;
}

.presentacion {
    background-color: #C3BAA9;
    margin: 70px;
    padding: 50px;
    width: 788px;
    height: 590px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mates {
    width: 30%;
    margin: 10px;
}

.tipsMates {
    background-color: #E7ECCC;
    margin: 70px;
    width: 400px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #645d52;
}

#tips {
    background-color: #2F6243;
    color: #EDDDC3;
    padding: 10px;
}
.prepararMate {
    width: 80%;
    margin: 25px;
}

/*Pie de pagina*/
.pie {
    display: flex;
    background-color: #EDDDC3;
    height: 78px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-end;
    justify-content: space-between;

}

.pieIzquierdo {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 78px;
}

/*Seccion de contacto*/
.columna1 {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
}

.columna2 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    align-items: center;
}

.columna3 {
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    align-items: center;
}

/*Logos de seccion de contacto*/
.redes {
    width: 30px;
    margin: 5px;
}

/*Seccion copyright*/
.pieDerecho {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.copyright {
    margin: 5px;
    font-size: 10px;
}
