html,body {
    background-color: #fcf3e8;
    height: 100%;
}

.encabezado {
    display: flex;
    background-color: #EDDDC3;
    height: 124px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    justify-content: space-between;
    align-items: center; 
}

.item {
    text-decoration: none;
    list-style: none;
    text-transform: uppercase; 
    color: #645d52;
    padding: 10px;

}

.item:hover {
    background: #C3BAA9;
}

.navegacion {
    padding: 0px;
    display: flex;
    flex-direction: row;
    list-style: none;
}

.contenedor {
    display: flex;
    justify-content: space-between;
}

.presentacion {
    background-color: #C3BAA9;
    margin: 70px;
    padding: 50px;
    width: 788px;
    height: 590px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mates {
    width: 30%;
    margin: 10px;
}

.tipsMates {
    background-color: #E7ECCC;
    margin: 70px;
    width: 400px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #645d52;
}

#tips {
    background-color: #2F6243;
    color: #EDDDC3;
    padding: 10px;
}
.prepararMate {
    width: 80%;
    margin: 25px;
}

.pie {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EDDDC3;
    height: 78px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: flex-end;
}

.pieIzquierdo {
    display: flex;
    flex-direction: row;
    width: 70%;
}

.pieDerecho {
    display: flex;
    flex-direction: column;


}

.contacto {
    width: 80%;
    height: 78px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.instagram {
    list-style-image: url(images/logo.jpg);
    padding: 5px;
}
.whatsapp {
    padding: 5px;
}


/*productos */




.tituloGeneralProductos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    margin: 10px;
    color: white;
    
}

.contenedorYerba {
    display: flex;
    flex-direction: column;
    height: 50%;
}

.yerbaTradicional { 
    display: flex;
    flex-direction: row;
    width: 50%;
}
.yerbaPremium{ 
    display: flex;
    flex-direction: row;
    width: 50%; 
}
.yerbaCompuesta {
    display: flex;
    flex-direction: row;
    width: 50%; 
}

.imagenTradicional {
    height: 285px;
    width: 249px;
}
.imagenPremium{
    height: 285px;
    width: 249px;
}
.imagenCompuesta {
    height: 285px;
    width: 249px;
}

.textoYerba {
    margin: 10px;
}

.general {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.yerbas {
    background-color: #C3BAA9;
    width: 60%;
   
}

